<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726364101040-jf9lg9fnckp5mf7qvjjle1nmo8pt99u0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726364101040-jf9lg9fnckp5mf7qvjjle1nmo8pt99u0</string>
	<key>API_KEY</key>
	<string>AIzaSyCVUv3BiB4DxcFRaNSElqtEHXOmyanjLYM</string>
	<key>GCM_SENDER_ID</key>
	<string>726364101040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.mobile</string>
	<key>PROJECT_ID</key>
	<string>asterios-51b8f</string>
	<key>STORAGE_BUCKET</key>
	<string>asterios-51b8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726364101040:ios:75fa866083bbb870d95e75</string>
</dict>
</plist>